<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/login.css" />
  <%- include('../partials/head.ejs') %>
    <title>Inicio de sesión</title>
</head>

<body>
  <%- include('../partials/header.ejs') %>
    <main>
      <h1 class="login__title">Inicia sesión</h1>
      <form class="login__form" action="/users/login" method="post">
        <div class="login__fields">
          <div class="login__field-container">
            <label for="email">Correo electrónico</label>
            <input 
              type="email"
              name="email"
              id="email"
              placeholder="Correo electrónico"
              value="<%= ( locals.old && old.email ) ? old.email : '' %>"
              />
            </div>

            <% if( locals.errors && errors.email ){ %>
                <p class="login__errors"><%= errors.email.msg %></p>
            <% } %>

            <div class="login__field-container">
              <label for="password">Contraseña</label>
              <input 
                type="password"
                name="password"
                id="password"
                placeholder="Contraseña" 
                value="<%= ( locals.old && old.password ) ? old.password : '' %>"
              />
            </div>

            <% if( locals.errors && errors.password ){ %>
              <p class="login__errors"><%= errors.password.msg %></p>
            <% } %>
        </div>

        <div class="login__remember-password">
          <input type="checkbox" name="rememberme" id="rememberme"/>
          <label for="rememberme">¿Recordar contraseña?</label>
        </div>

        <button class="login__button" type="submit">Iniciar sesion</button>
      </form>
    </main>
    <% if( error !== undefined){ %>
      <div class="login__popup">       
        <p class="login__popup-msg"><%= error?.msg %></p>
        <button class="login__close-msg-btn">
          <img src="/img/icons/x-mark.svg" alt="close" class="login__close-img">
        </button>
      </div>
    <% } %>
    <footer>
      <%- include('../partials/footer.ejs') %>
    </footer>
</body>

</html>