<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs', { cssSheets: ["login"], title: "Inicio de sesión" }) %>

<body>
  <%- include('../partials/header.ejs') %>
    <main>
      <h1>Bienvenido</h1>
        <h1> <%= locals.user.username %></h1>
        <li>
            <div>
                <a href="/users/login/<%= user.id %>">
                    <button>Editar</button>
                </a>
                <form action="/users/logout" method="post" >
                  
                    <button type="submit">Cerrar sesion</button>
                
                </form>
                
            </div>
        </li>
        
      
    </main>
    <footer>
      <%- include('../partials/footer.ejs') %>
    </footer>
    
</body>

</html>