<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs', { cssSheets: ["load-sandwich"], title: "Formulario de creación" }) %>

  <body>
    <%- include('../partials/header.ejs') %>
      <div class="load-container">
        <form action='/products/create' method="post" class="load-form" enctype="multipart/form-data">
          <div class="load-input-container">
            <label for="image" class="load-label">Imagen (png, jpg, jpeg):</label>
            <input 
              type="file"
              id="image"
              name="image"
              accept="image/png, image/jpeg, image/jpg, image/gif"
              class="load-input"
            >
          </div>   
          
          <% if (locals.errors && errors.image){%>
            <div class="load-errors">
              <i>
                <%= errors.image.msg %>
              </i>
            </div>
          <% } %>

          <div class="load-input-container">
            <label for="name" class="load-label">Nombre:</label>
            <input 
              type="text"
              id="name"
              name="name"
              class="load-input" 
              placeholder="Ingresa el nombre del sandwich"
              value="<%= (locals.old && old.name) ? old.name : '' %>" 
            >
          </div>

          <% if (locals.errors && errors.name){%>
            <div class="load-errors">
              <i>
                <%= errors.name.msg %>
              </i>
            </div>
          <% } %>

          <div class="load-input-container">
            <label for="category" class="load-label">Tipo:</label>
            <select id="category" name="category"                 class="load-input">
              <% categories.forEach(item=> { %>
                <option value="<%= item.id %>">
                  <%= item.name %>
                </option>
                <% }) %>
            </select>
          </div>

          <div class="load-input-container">
            <label for="price" class="load-label">Precio:</label>
            <input 
              type="number"
              id="price"
              name="price"
              step="1"
              class="load-input"
              placeholder="Ingresa el precio"
              value="<%= (locals.old && old.price) ? old.price : '' %>" 
            >
          </div>

          <% if (locals.errors && errors.price){%>
            <div class="load-errors">
              <i>
                <%= errors.price.msg %>
              </i>
            </div>
          <% } %>

          <div class="load-input-container">
            <label for="stock" class="load-label">Cantidad disponible:</label>
            <input 
              type="number"
              id="stock"
              name="stock"
              step="1"
              class="load-input"
              placeholder="Ingresa la cantidad disponible"
              value="<%= (locals.old && old.stock) ? old.stock : '' %>" 
            >
          </div>

          <% if (locals.errors && errors.stock){%>
            <div class="load-errors">
              <i>
                <%= errors.stock.msg %>
              </i>
            </div>
          <% } %>

          <div class="load-input-container">
            <label for="discount" class="load-label">Descuento:</label>
            <input 
              type="number"
              id="discount"
              name="discount"
              step="1"
              class="load-input"
              placeholder="Ingresa el descuento"
              value="<%= (locals.old && old.discount) ? old.discount : '' %>" 
            >
          </div>

          <% if (locals.errors && errors.discount){%>
            <div class="load-errors">
              <i>
                <%= errors.discount.msg %>
              </i>
            </div>
          <% } %>

          <div class="load-input-container">
            <label for="description" class="load-label">Descripción:</label>
            <textarea 
              id="description"
              name="description"
              rows="4"
              class="load-textarea"            
              placeholder="Ingresa la descripción"
              value="<%= (locals.old && old.description) ? old.description : '' %>" 
            ></textarea>
          </div>

          <% if (locals.errors && errors.description){%>
            <div class="load-errors">
              <i>
                <%= errors.description.msg %>
              </i>
            </div>
          <% } %>
          
          <button type="submit" class="load-submit-cargar">Guardar</button>
        </form>
      </div>
      <%- include('../partials/footer.ejs') %>
      <script src="/js/product-create-validations.js"></script>
</html>