<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs', { cssSheets: ["load-sandwich"], title: "Formulario de creación" }) %>

  <body>
    <%- include('../partials/header.ejs') %>
      <div class="load-container">
        <form action='/products/create' method="post" class="load-form" enctype="multipart/form-data">
          <div class="load-input-container">
            <label for="image" class="load-label">Imagen del Sandwich (png, jpg, jpeg):</label>
            <input type="file" id="image" name="image" accept="image/png, image/jpeg" class="load-input">
          </div>
          <div class="load-input-container">
            <label for="name" class="load-label">Nombre del Sandwich:</label>
            <input type="text" id="name" name="name" class="load-input" 
            required pattern=".{5,}" placeholder="Debe tener al menos 5 caracteres">
          </div>
          <div class="load-input-container">
            <label for="category" class="load-label">Tipo de Sandwich:</label>
            <select id="category" name="category" class="load-input">
              <% categories.forEach(item=> { %>
                <option value="<%= item.id %>">
                  <%= item.name %>
                </option>
                <% }) %>
            </select>
          </div>
          <div class="load-input-container">
            <label for="price" class="load-label">Precio del Sandwich:</label>
            <input type="number" id="price" name="price" step="1" class="load-input" placeholder="Ej: 5">
          </div>
          <div class="load-input-container">
            <label for="stock" class="load-label">Stock</label>
            <input type="number" id="stock" name="stock" step="1" class="load-input" placeholder="Ej: 10">
          </div>
          <div class="load-input-container">
            <label for="stock" class="load-label">Descuento</label>
            <input type="number" id="discount" name="discount" step="1" class="load-input" placeholder="Ej: 5">
          </div>
          <div class="load-input-container">
            <label for="description" class="load-label">Descripción del Sandwich:</label>
            <textarea id="description" name="description" rows="4" class="load-textarea" required
            pattern=".{20,}" title="Debe tener al menos 20 caracteres"
            placeholder="Debe tener al menos 20 caracteres"></textarea>
          </div>
          <button type="submit" class="load-submit-cargar">Subir Sandwich</button>
        </form>
      </div>
      <%- include('../partials/footer.ejs') %>
      <script src="/js/product-create-validations.js"></script>
</html>