<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs', { cssSheets: ["load-sandwich"], title: "Formulario de edición" }) %>

<body>
  <%- include('../partials/header.ejs') %>

    <div class="load-container">
      <form action="/products/edit/<%= product.id %>?_method=PUT" method="post" class="load-form" enctype="multipart/form-data">
        <% if (product.image) { %>
          <p class="load-label">Imagen actual: <span class="load-image-text"><%= product.image %></span></p>
          <img
           class="load-image"
           src="/img/products/<%= product.image %>" alt="Imagen actual" id="imagenProductoPreview">
        <% } %>
        <div class="load-input-container">
          <label for="image" class="load-label">Imagen del Sandwich (png, jpg, jpeg):</label>
          <input type="file" id="image" name="image" accept="image/png, image/jpeg" class="load-input">
        </div>
        <div class="load-input-container">
          <label for="name" class="load-label">Nombre del Sandwich:</label>
          <input 
            type="text" id="name" name="name" class="load-input" placeholder="Ej: Sandwich de Pollo"
            value="<%= product.name %>"
          >
        </div>
        <div class="load-input-container">
          <label for="category" class="load-label">Tipo de Sandwich:</label>
          <select id="category" name="category" class="load-input" selected="<%= product.categories_id %>">
            <% categories.forEach(item=> { %>
              <option value="<%= item.id %>" >
                <%= item.name %>
              </option>
              <% }) %>
          </select>
        </div>
        <div class="load-input-container">
          <label for="price" class="load-label">Precio del Sandwich:</label>
          <input 
            type="number" id="price" name="price" class="load-input" placeholder="Ej: 5"
            value="<%= product.price %>"
          >
        </div>
        <div class="load-input-container">
          <label for="stock" class="load-label">Stock</label>
          <input type="number" id="stock" name="stock" step="1" class="load-input" placeholder="Ej: 10" value="<%= product.stock %>">
        </div>
        <div class="load-input-container">
          <label for="stock" class="load-label">Descuento</label>
          <input type="number" id="discount" name="discount" step="1" class="load-input" placeholder="Ej: 5" value="<%= product.discount %>">
        </div>
        <div class="load-input-container">
          <label for="description" class="load-label">Descripción del Sandwich:</label>
          <textarea id="description" name="description" rows="4" class="load-textarea"          
            placeholder="Ej: Un delicioso sandwich de pollo con vegetales y aderezos"            
            ><%= product.description %></textarea>
        </div>
        <button type="submit" class="load-submit-cargar">Guardar Sandwich</button>
      </form>
    </div>
    <%- include('../partials/footer.ejs') %>
    <script src="/js/product-edit-validations.js"></script>
</html>