<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs', { cssSheets: ["product-detail"], title: "Detalle del sandwich" }) %>

  <body>

    <%- include('../partials/header.ejs') %>

      <main>
        <section class="product-detail">
          <div class="product-detail__images">
            <img class="product-detail__default-image" src="/img/products/<%= productSearch?.image %>"
              alt="tostado de jamón y queso">
          </div>
          <div class="product-detail__description">
            <h2 class="product-detail__title">
              <%= productSearch?.name %>
            </h2>
            <p>
              <%= productSearch?.description %>
            </p>
            <p class="product-detail__price"> $ <%= productSearch?.price %>
            </p>
            <p>Impuestos incluidos. <a href="#" class="ancor">Revisá acá los gastos de envío</a> que se agregarán en la
              pantalla de
              pagos.
            </p>
            <button class="product-detail__add-to-cart" id="add-to-cart-main-btn">Agregar al carrito</button>
            <% if( locals.user?.role_id===1 ) { %>
              <div class="product-detail__actions">
                <a class="product-detail__ancor-edit" href="/products/edit/<%= productSearch.id %>">
                  <img class="product-detail__icon" src="/img/icons/pen-to-square.svg" alt="pen to square">
                  <span>Editar</span>
                </a>
                <form class="product-detail__form-delete"
                  action="/products/delete/<%= productSearch?.id %>?_method=DELETE" method="POST">
                  <button class="product-detail__btn-delete" type="submit">
                    <img class="product-detail__icon" src="/img/icons/trash.svg" alt="pen to square">
                    <span>Eliminar</span>
                  </button>
                </form>
              </div>
              <% } %>
                <div class="product-detail__btn-container">
                  <button class="product-detail__social-media-btn">
                    <img class="product-detail__icon" src="/img/icons/square-facebook.svg" alt="facebook">
                    Compartir
                  </button>
                  <button class="product-detail__social-media-btn">
                    <img class="product-detail__icon" src="/img/icons/square-x-twitter.svg" alt="x twitter">
                    Tuitear
                  </button>
                </div>
          </div>
        </section>

        <section class="products">
          <h2 class="products__title">Quizá te gustaría agregar...</h2>
          <div class="products__container">
            <% products.forEach((product)=>{ %>
              <%if(product.id !==productSearch?.id){ %>
                <div class="product">
                  <img class="product_image" src="/img/products/<%= product.image %>" alt="<%= product.name %>">
                  <p class="product__name">
                    <%= product.name %>
                  </p>
                  <p class="product__price">$<%= product.price %>
                  </p>
                  <button class="product-detail__add-to-cart">Agregar al carrito</button>
                </div>
                <%}%>
                  <% }) %>
          </div>
        </section>
      </main>

      <%- include('../partials/footer.ejs') %>
      <script src="/js/productToCart.js"></script>
  </body>

</html>