<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs', { cssSheets: ["product-list"], title: "Sandwiches" }) %>

  <body>
    <%- include('../partials/header.ejs') %>
      <main>
        
        <% if (offers.length > 0) {%>        
          <div class="list-ofertas">
            <h2>OFERTAS DEL DIA</h2>
            <div class="list-tarjetas-container">
              <% offers.forEach((prod)=> { %>
                <div class="list-img-container">
                  <div class="list-capa-oscura"></div>
                  <img src="/img/products/<%=prod.image%>" alt="<%=prod.name%>">
                </div>
                <% }) %>
            </div>
          </div>
        <% } %>


        <div class="list-products">
          <% products.forEach((prod)=> {%>
            <div class="list-tarjeta">
              <a href="/products/detail/<%= prod.id %>">
                <img src="/img/products/<%=prod.image%>" alt="<%= prod.name %>">
                <div class="list-text-container">
                  <h3>
                    <%= prod.name %>
                  </h3>
                  <p class="list-price">
                    Precio: $ <%= prod.price %>
                  </p>
                  <p>
                    Descripción: <%= prod.description %>
                  </p>
                </div>
              </a>
            </div>
            <% }) %>
        </div>

        <div class="list-products-pagination">
          
          <% if (currentPage > 1) {%>
            <a href="/products?page=<%= Number(currentPage) - 1 %>" class="list-products-pagination-button">Anterior</a>
          <% } %>

          <% if (currentPage < totalPages) {%>          
            <a href="/products?page=<%= Number(currentPage) + 1 %>" class="list-products-pagination-button">Siguiente</a>
          <% } %>
        </div>
        <button class="scroll-top-btn hidden">⬆</button>
      </main>
      <%- include('../partials/footer.ejs') %>
      <script src="/js/button-scroll.js"></script>
  </body>

</html>