<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/product-detail.css">
  <link href="css/header.css" rel="stylesheet">
  <link rel="stylesheet" href="css/footer.css">
  <title>Detalle del sandwich</title>
</head>
<body>
  <header>
    <div class="home-caja-suprema">
        <div class="home-caja1">
            <img src="img/logo.png" alt="logo en proceso">
            <div class="home-caja2">
                <h1>SANWI</h1>
                <p>Los mejores sandwiches del pueblo</p>
            </div>
        </div>
        <div class="home-menu-hamburguesa-no-tan-hamburguesa">
            <i class="fas fa-th-list"></i>
        </div>
        <div class="home-caja3">
            <div class="home-form">
                <form action="/" method="post">
                    <i class="fas fa-search"></i>
                    <input type="search" placeholder="Lomitos, Hamburguesas, Milanesas, etc.." name="buscador" id="buscador">
                </form>
            </div>
        </div>
    </div>
    <nav>
        <ul>
            <li>
                <a href="/">Inicio</a>
            </li>
            <li>
                <a href="product-detail">Productos</a>
            </li>
            <li>
                <a href="login">Iniciar Sesión</a>
            </li>
            <li>
                <a href="register">Registro</a>
            </li>
        </ul>
        <div class="home-carrito">
            <i class="fas fa-shopping-cart"></i>
            <i class="fas fa-sort-down"></i>
        </div>
    </nav>
</header>
  <main>
    <section class="product-detail">
      <div class="product-detail__images">
        <img class="product-detail__default-image" src="/img/tostado-de-jamon-y-queso.avif" alt="tostado de jamón y queso">
        <div class="product-detail__thumbnail-images">
          <img class="product-detail__thumbnail-image" src="/img/tostado-de-jamon-y-queso.avif"
            alt="tostado de jamón y queso">
          <img class="product-detail__thumbnail-image" src="/img/tostado-de-jamon-y-queso.avif"
            alt="tostado de jamón y queso">
          <img class="product-detail__thumbnail-image" src="/img/tostado-de-jamon-y-queso.avif"
            alt="tostado de jamón y queso">
        </div>
      </div>
      <div class="product-detail__description">
        <h1> <%= search?.name %></h1>
        <p>Pan de semillas de masa madre, jamón cocido Las Dinas, queso gruyère y aceite de oliva Zuelo Orgánico.</p>
        <p><%= search?.description %></p>
        <p> $ <%= search?.price  %></p>
        <p>Impuestos incluidos. <a href="#">Revisá acá los gastos de envío</a> que se agregarán en la pantalla de pagos.
        </p>
        <button class="product-detail__add-to-cart">Agregar al carrito</button>
        <div class="product-detail__btn-container">
          <button class="product-detail__social-media-btn">
            <img class="product-detail__icon" src="/img/icons/square-facebook.svg" alt="facebook">
            Compartir
          </button>
          <button class="product-detail__social-media-btn">
            <img class="product-detail__icon" src="/img/icons/square-x-twitter.svg" alt="x twitter">
            Tuitear
          </button>
        </div>
      </div>
    </section>

    <section class="products">
      <h2 class="products__title">Quizá te gustaría agregar...</h2>
      <div class="products__container">
        <% data.forEach((product)=>{  %>
          <div class="product">
            <img src="/img/<%= product.img %>" alt="<%= product.name %>">
            <p class="products__name"><%= product.name %></p>
            <p class="products__price">$<%= product.price %></p>
            <button class="product-detail__add-to-cart">Agregar al carrito</button>
          </div>
        <%  }) %>
       <!--  <div class="product">
          <img src="/img/sandwich-de-jamon-crudo-y-burrata.webp" alt="sandwich de jamón crudo y burrata">
          <p class="products__name">Sandwich de jamón crudo y burrata</p>
          <p class="products__price">$1.450</p>
          <button class="product-detail__add-to-cart">Agregar al carrito</button>
        </div> -->
      </div>
    </section>
  </main>
  <footer>
    <p>Copyright © 2023-2023 Sanwi</p>
    </footer>
</body>
</html>